#test {
    margin-left: 30%;
border: 5px double #3ed19b;
}
* {
    box-sizing: border-box;
  }
  
body {
    background: rgba(210,255,82,1);}


h1, h2 {
    position: absolute;
    z-index: 2;
}

.titles {

    filter: blur(8px);
    -webkit-filter: blur(8px);
}
.bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
  }
  body, html {
    height: 100%;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .bg-image {
    /* The image used */
    background-image: url("test.gif");
  
    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);
  
    /* Full height */
    height: 100%; 
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  p {
      font-size: 200%;
  }

  #buttons {
     position: relative;
     left: 10px;
  }